<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Sistema de Relatórios</title>
        <h:outputStylesheet library="css" name="style.css" rel="stylesheet" type="text/css"/>
        
    </h:head>
    <h:body>
        <header class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-1">

                </div>
                <div class="ui-grid-col-2">
                    <img src="resources/img/logo.png" alt=""/>
                </div>
                <div class="ui-grid-col-8">
                    <h1>Sistema de Relatório</h1>
                </div>
                <div class="ui-grid-col-1">

                </div>
            </div>
        </header>
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                
                <div class="ui-grid-col-12">
				<ui:insert name="conteudo"></ui:insert>
			</div>
                
            </div>
        </div>
        <footer class="ui-grid ui-grid-responsive" >
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <h:outputText value="Cafufa 2015 - Todos os direitos reservados" />
                </div>
            </div>
        </footer>
    </h:body>
</html>
