body{
    margin: 0px 0px 0px 0px;
}

h1{
    color: white;
    font-family: arial;
    font-size: 35px;
    
}
        
header{
    background: black;
    border-top-color: darkorange;
}
.ui-panelgrid-header{
	background: black;
	color: white;
	
}
footer{
    background-color: black;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
    
}

.login {
	margin-top: 20px;
}

.escolha {
	margin-top: 20px;
}
.titulo {
	margin-left: 50px;
}