<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./WEB-INF/template/Layout.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="conteudo">
		<br />
		<br />
		<br />
		<div class="ui-grid ui-grid-responsive escolha">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4"></div>
				<div class="ui-grid-col-4">
					<h:form>
						<h:panelGrid columns="2" style="margin-bottom:10px"
							cellpadding="5">
							<p:outputLabel for="console" value="Loja:" />
							<p:selectOneMenu id="console"
								value="#{selectOneMenuView.console}" style="width:170px">
								<f:selectItem itemLabel="Selecione a Loja" itemValue="" />
							</p:selectOneMenu>

							<p:outputLabel for="car" value="Evento: " />
							<p:selectOneMenu id="car" value="#{selectOneMenuView.car}">
								<f:selectItem itemLabel="Selecione o evento" itemValue="" />
								<f:selectItems value="#{selectOneMenuView.cars}" />
							</p:selectOneMenu>

							<p:outputLabel for="console" value="Relatorio:" />
							<p:selectOneMenu id="console"
								value="#{selectOneMenuView.console}" style="width:170px">
								<f:selectItem itemLabel="Financeiro" itemValue="Financeiro" />
								<f:selectItem itemLabel="Eventos Futuros"
									itemValue="Eventos Futuros" />
								<f:selectItem itemLabel="Quantidade de Ingressos vendidos"
									itemValue="Eventos Futuros" />//
         					</p:selectOneMenu>

							<p:outputLabel for="car" value="De: " />
							<p:calendar id="german" value="#{calendarView.date5}" locale="de"
								navigator="true" pattern="dd-MMM-yyyy" />

							<p:outputLabel for="car" value="Ate: " />
							<p:calendar id="germane" value="#{calendarView.date5}"
								locale="de" navigator="true" pattern="dd-MMM-yyyy" />
						</h:panelGrid>

						<p:commandButton value="Gerar Relatorio" update="display"
							oncomplete="PF('dlg').show()" icon="ui-icon-check" />

						<p:dialog header="Values" modal="true" showEffect="bounce"
							widgetVar="dlg" resizable="false">
							<p:panelGrid columns="2" id="display" columnClasses="label,value">
								<h:outputText value="Basic:" />
								<h:outputText value="#{selectOneMenuView.console}" />

								<h:outputText value="Grouping:" />
								<h:outputText value="#{selectOneMenuView.car}" />

								<h:outputText value="Editable" />
								<h:outputText value="#{selectOneMenuView.city}" />

								<h:outputText value="Advanced:" />
								<h:outputText value="#{selectOneMenuView.theme.displayName}" />
							</p:panelGrid>
						</p:dialog>
					</h:form>
				</div>
				<div class="ui-grid-col-4"></div>
			</div>
		</div>
	</ui:define>
	<footer class="ui-grid ui-grid-responsive">
		<div class="ui-grid-row">
			<div class="ui-grid-col-12">
				<h:outputText value="Cafufa 2015 - Todos os direitos reservados" />
			</div>
		</div>
	</footer>
</ui:composition>
