<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Cafufa</title>
	<h:outputStylesheet library="css" name="style.css" rel="stylesheet"
		type="text/css" />
	<h:outputStylesheet library="primefaces" name="primefaces.css"
		rel="stylesheet" type="text/css" />
</h:head>
<h:body>
	<header class="ui-grid ui-grid-responsive">
		<div class="ui-grid-row">
			<div class="ui-grid-col-1"></div>
			<div class="ui-grid-col-2">
				<img src="resources/img/logo.png" alt="" />
			</div>
			<div class="ui-grid-col-8 titulo">
				<h1>Sistema de Relatório</h1>
			</div>
			<div class="ui-grid-col-1"></div>
		</div>
	</header>
	<div class="ui-grid ui-grid-responsive">
		<div class="ui-grid-row">
			<div class="ui-grid-col-1 barra-lateral"></div>
			<div class="ui-grid-col-10"></div>
			<div class="ui-grid-col-1 barra-lateral"></div>
		</div>
	</div>
	<ui:insert name="rodape" />
</h:body>
</html>