<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/template/Layout.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="conteudo">
    <br />
    <br />
    <br />
        <div class="ui-grid ui-grid-responsive login">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"></div>
                <div class="ui-grid-col-4">
                    <h:form id="frm" >
                        <p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-3, ui-grid-col-9">
                            <f:facet name="header">
                                <p:column colspan="2"><h3>Acesso ao Sistema</h3></p:column>
                            </f:facet>

                            <p:outputLabel value="Login" /> 
                            <p:inputText value="" style="width: 100%" />

                            <p:outputLabel value="Senha" /> 
                            <p:password style="width: 100%" />

                            <h:outputText value="" />
                            <p:selectBooleanCheckbox id="lembrar" itemLabel="Lembrar Senha" />

                            <h:outputText value="" />
                            <p:button value="Login" href="/Home.xhtml"/>
                        </p:panelGrid>           
                    </h:form>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
        </div>
    </ui:define>

</ui:composition>
