<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./WEB-INF/template/Layout.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="conteudo">
		<br />
		<br />
		<br />

	<p:chart type="line" model="#{chartView.areaModel}" style="height:300px" />
	<br/>
	<br/>
	<p:chart type="line" model="#{chartView2.lineModel2}" style="height:300px;"/>
	
	</ui:define>
	<footer class="ui-grid ui-grid-responsive">
		<div class="ui-grid-row">
			<div class="ui-grid-col-12">
				<h:outputText value="Cafufa 2015 - Todos os direitos reservados" />
			</div>
		</div>
	</footer>
</ui:composition>