<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./WEB-INF/template/Layout.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="conteudo">
		<br />
		<br />
		<br />

		<center>
			<h:form style="margin-top: 50px; width: 1300px">
				<p:dataTable value="#{ingressoBean.ingressos2}" var="ingressos">
					<f:facet name="header">
                        Quantidade de Ingressos Vendidos
                    </f:facet>
					<p:columnGroup type="header">
						<p:row>
							<p:column headerText="Nome da Loja: Lacost" />
							<p:column headerText="Tipo da Vanda" />
							<p:column headerText="Quantidades" />
						</p:row>
						<p:row>
							<p:column rowspan="4" headerText="Pista" style="text-align: left" />
							<p:column />
						</p:row>
						<p:row>
							<p:column headerText="Primeiro Lote" style="text-align: left" />
							<p:column />
						</p:row>
						<p:row>
							<p:column headerText="Segundo Lote" style="text-align: left" />
							<p:column />
						</p:row>
						<p:row>
							<p:column headerText="Meia Entrada" style="text-align: left" />
							<p:column />
						</p:row>
						<p:row>
							<p:column rowspan="4" headerText="Camarote"
								style="text-align: left" />
							<p:column />
						</p:row>
						<p:row>
							<p:column headerText="Primeiro Lote" style="text-align: left" />
							<p:column />
						</p:row>
						<p:row>
							<p:column headerText="Segundo Lote" style="text-align: left" />
							<p:column />
						</p:row>
						<p:row>
							<p:column headerText="Meia Entrada" style="text-align: left" />
							<p:column />
						</p:row>
						<p:row>
							<p:column rowspan="4" headerText="Backstage"
								style="text-align: left" />
							<p:column />
						</p:row>
						<p:row>
							<p:column headerText="Primeiro Lote" style="text-align: left" />
							<p:column />
						</p:row>
						<p:row>
							<p:column headerText="Segundo Lote" style="text-align: left" />
							<p:column />
						</p:row>
						<p:row>
							<p:column headerText="Meia Entrada" style="text-align: left" />
							<p:column />
						</p:row>
					</p:columnGroup>
				</p:dataTable>
				<h3 style="text-align: left; margin-top: 30px">Total por tipo
					de ingresso:</h3>
				<h3 style="text-align: left">Pista:</h3>
				<h3 style="text-align: left">Camarote:</h3>
				<h3 style="text-align: left">Primeiro Lote:</h3>
				<h3 style="text-align: left">Backstage:</h3>
				<br />
				<h3 style="text-align: left">Segundo Lote:</h3>
				<h3 style="text-align: left">Meia Entrada:</h3>
				<h3 style="text-align: left">Cortesia:</h3>
			</h:form>
		</center>
	</ui:define>
	<footer class="ui-grid ui-grid-responsive">
		<div class="ui-grid-row">
			<div class="ui-grid-col-12">
				<h:outputText value="Cafufa 2015 - Todos os direitos reservados" />
			</div>
		</div>
	</footer>
</ui:composition>