<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./WEB-INF/template/Layout.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="conteudo">
		<br />
		<br />
		<br />
		<h:form style="margin-left: 30px">
			<h2>Loja:</h2>
			<h2>Evento:</h2>
			<h3 style="text-align: right; margin-right: 2px">Periodo:
				__/__/____ ate __/__/____.</h3>
		</h:form>
		<center>
			<h:form style="margin-top: 50px; width: 1300px">
				<p:dataTable value="#{ingressoBean.ingressos2}" var="ingressos">
					<f:facet name="header">
                        Relatorio Financeiro
                    </f:facet>
					<p:columnGroup type="header">
						<p:row>
							<p:column headerText="Tipo Pagamento" />
							<p:column headerText="valor" />
						</p:row>
					</p:columnGroup>
				</p:dataTable>

				<h2 style="text-align: right; margin-top: 30px; margin-right: 70px">Total:</h2>
				<p:dataTable value="#{ingressoBean.ingressos2}" var="ingressos"
					style="width: 900px; margin-top: 70px">
					<f:facet name="header">
                        Total das Lojas
                    </f:facet>
					<p:columnGroup type="header">
						<p:row>
							<p:column headerText="Tipo Pagamento" />
							<p:column headerText="valor" />
						</p:row>
					</p:columnGroup>
				</p:dataTable>
			</h:form>
		</center>
	</ui:define>
</ui:composition>